<div *ngIf="isDiv" (click)="selectItem()">
  <img
    class="rounded-circle"
    [ngStyle]="{
      width: size + 'px',
      heigth: size + 'px'
    }"
    src="assets/images/{{ cv?.path | defaultImage }}"
    alt="{{ cv?.name }}"
  />
  {{ cv?.name }} {{ cv?.firstname }}
  <button
    *ngIf="isDeleteButton"
    (click)="clickOnDeleteButton()"
    class="btn btn-danger"
  >
    delete
  </button>
  <!--   {{ cv?.age | btcToUsd  }} -->
</div>
<span *ngIf="!isDiv" (click)="selectItem()">
  <img
    class="rounded-circle"
    [ngStyle]="{
      width: size + 'px',
      heigth: size + 'px'
    }"
    src="assets/images/{{ cv?.path | defaultImage }}"
    alt="{{ cv?.name }}"
  />
  {{ cv?.name }} {{ cv?.firstname }}
  <button
    *ngIf="isDeleteButton"
    (click)="clickOnDeleteButton()"
    class="btn btn-danger"
  >
    delete
  </button>
  <!--   {{ cv?.age | btcToUsd  }} -->
</span>
